.subscriptionWrapper
    // background-color: black
    div
        margin: 0
        div
            display: flex
            align-items: center
            justify-content: center
            // outline: 1px solid black
            padding: 0

            $border: 10px solid 
            #aticaBronze
                border-bottom: $border #cd7f32
            #aticaSilver
                border-bottom: $border #c0c0c0
            #aticaGold
                border-bottom: $border #ffd700
            #aticaPlatinum
                border-bottom: $border #e5e4e2

            div
                // box-shadow: 0px 10px 0px 0px #8094b0
                cursor: pointer
                flex-direction: column
                position: absolute
                height: 90%
                outline: 1px solid black
                width: 90%
                display: flex
                margin: 0
                padding: 0
                transition: 0.5s

                &:hover
                    margin-bottom: 20px

                *
                    padding-bottom: 10px
                    padding-top: 10px
                
                span
                    height: auto
                    position: relative
                    width: auto
                ul
                    margin: 0
                    padding: 0
                h4
                    margin: 0
                    margin-top: 15px
                    span
                        font-size: 12px
                        font-variant: all-small-caps
                        font-style: italic
            p
                font-size: 14px
                max-width: 500px
                text-align: left
                width: 75%
                    